<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
                            http://www.springframework.org/schema/beans/spring-beans.xsd
                            http://www.springframework.org/schema/context
    						http://www.springframework.org/schema/context/spring-context-3.1.xsd
        					http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.1.xsd
        					http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.1.xsd">




	<bean id="productdao" class="com.linedata.ekip.pos.crma.dao.crma.ProductDaoImpl"></bean>
	<bean id="subjectdao" class="com.linedata.ekip.pos.crma.dao.crma.SubjectDaoImpl"></bean>
	<bean id="authordao" class="com.linedata.ekip.pos.crma.dao.crma.AuthorDaoImpl"></bean>
	<bean id="estimationdao" class="com.linedata.ekip.pos.crma.dao.crma.EstimationDaoImpl"></bean>
	<bean id="unitofworkdao" class="com.linedata.ekip.pos.crma.dao.crma.UnitOfWorkDaoImpl"></bean>
	<bean id="componentdao" class="com.linedata.ekip.pos.crma.dao.crma.ComponentDaoImpl"></bean>
	<bean id="complexitydao" class="com.linedata.ekip.pos.crma.dao.crma.ComplexityDaoImpl"></bean>
	<bean id="abacusdao" class="com.linedata.ekip.pos.crma.dao.crma.AbacusDaoImpl"></bean>
	<bean id="actiontypedao" class="com.linedata.ekip.pos.crma.dao.crma.ActionTypeDaoImpl"></bean>

	<bean id="ChiffrageService"
		class="com.linedata.ekip.pos.services.crma.service.impl.ChiffrageServiceImpl"></bean>
	<bean id="ParametrageService"
		class="com.linedata.ekip.pos.services.crma.service.impl.ParametrageServiceImpl"></bean>

	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="oracle.jdbc.OracleDriver" />
		<property name="url" value="jdbc:oracle:thin:@tn1orc03:1521:LDSTOOLS" />
		<property name="username" value="portal" />
		<property name="password" value="portal" />
	</bean>



	<bean id="entityManagerFactory"
		class="org.springframework.orm.jpa.LocalEntityManagerFactoryBean">
		<property name="persistenceUnitName" value="unitPer"></property>
	</bean>

	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactory" />
	</bean>

	<tx:annotation-driven transaction-manager="transactionManager" />
	<context:annotation-config></context:annotation-config>

	<bean id="ChiffrageDetail" class="com.linedata.ekip.std.services.core.bean.BeanMapper">
		<property name="mappingFiles">
			<list>
				<!-- <value>dozer/global.mapping.xml</value> -->
				<value>dozer/Chiffrage.mapping.xml</value>
			</list>
		</property>
	</bean>

</beans>